:root {
  background-color: #878fb1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg {
  background-image: url('./images/libnew.jpg');
  background-size: cover;
  width: 100vh;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#container {
  background-color: hsla(0, 0%, 100%, .40);
  width: 80vh;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

#bookshelf {
 border: black 1px solid ;
  height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.book {
  background-color: #a8c1d1;
  height: 150px;
  width: 100px;
  margin: 3px;
  border-radius: 10px;


}

button {
  height: min-content;
  width: min-content;
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}


#formDiv {
  font-size: 20px;

  display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 300px;

}


:focus {
  background-color: #B086A3;
}

/*
a {
  text-decoration: underline;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
*/






/* --- toggle --- */

.complete {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.complete input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #a8c1d1;
}

input:focus+.slider {
  box-shadow: 0 0 1px #a8c1d1;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}